/* SIPHOKUHLE NYANA*/

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: #4766B8;
    margin: 0;
	padding: 0; }

#page {
	width: 710px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 10px; }
#main{
margin-left: 150px;
	}

#banner {
    margin-bottom: 1em;
	height: 70px 

}
#banner img{
height: 85px;
width: 300px;
}

#navigation {
	margin-top: 1em;
	height: 45px;
	background-color: white; }
	#navigation img{
		height: 56px;
		width: 560px;
	}
	
#sidebar {
	width: 150px;
	height: 370px;
	background-color: white;
	margin-bottom: .7em;
	float: left; 
	
}
#sidebar img{
	height: 350px;
	width: 150px;
}

.copyright {
    font-size: 90%;
    text-align: right; 
	margin: 0;
	margin-top: 5em; 
	border-top: 2px solid grey;
	padding: 7em;
	clear: left;


}

	
/* the styles for the table*/

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; }

td, th {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%;
	
	 }	
table{
border: 1px solid black;
	border-collapse: collapse;
} 
/* #footer{
	
} */
	
.alignRight {
	text-align: right; }